.header {
    background-color: #557da2;
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
}

.header input {
    padding: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: none;
    color: white;
}

header input::placeholder {
    color: white;
}

header button {
    background: none;
    border: none;
}

header img {
    width: 25px;
}

.searchContainer {
    display: flex;
    padding: 3px 5px;
    gap: 5px;
    align-items: center;
    background-color: #1f486f;
    border-radius: 20px;
}

