.Notes {
    padding: 12px;
    margin-top: 10px;
    color: white;
    display: grid;
    grid-template-columns: minmax(150px, auto) minmax(150px, auto); /* Define a largura mínima e máxima das colunas */
    gap: 12px;
    
}

.container-create-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 12px 0;

    
}

.container-create-note button {
    height: 30px;
    font-size: 1.05rem;
    padding: 0 7px;
    background-color: #87a6c2;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    
}

.content{
    padding: 3px 0 5px;
}

h1.notesTitle {
    padding-left: 10px ;
    padding-bottom: 5px;
    color: white;
    font-weight: 400;
    border-left: 5px solid white;
    border-radius: 5px;

}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white
}

.individualNote {
   background-color: #395875;
   padding: 12px;
   border-radius: 6px;
   min-height: 120px;
   max-height: 220px;
   -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
}

.individualNote p {
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.actions {
    width: 100%;
    display: flex;
    gap: 5px;
}

.actions button {
    width: 50%;
   color: white;
    padding: 6px;
    margin-top: 10px;
    background-color: #87a6c2;
    border: none;
    border-radius: 5px;

}

