.Notes {
    padding: 12px;
    margin-top: 10px;
    color: white;
    display: grid;
    grid-template-columns: minmax(150px, auto) minmax(150px, auto); /* Define a largura mínima e máxima das colunas */
    gap: 12px;
    
}

.container-create-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 12px 0;

    
}

h1.notesTitle {
    padding-left: 10px ;
    padding-bottom: 5px;
    color: white;
    font-weight: 400;
    border-left: 5px solid white;
    border-radius: 5px;

}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white
}

.individualNote {
   background-color: #395875;
   padding: 12px;
   border-radius: 6px;
   min-height: 120px;
   max-height: 220px;
   -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.31);
}

.individualNote p {
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a largura máxima */
    text-overflow: ellipsis; /* Adiciona "..." no final do texto que ultrapassa a largura máxima */
    word-wrap: break-word;
}

